In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error
from sklearn import metrics
from sklearn.metrics import r2_score

In [2]:
df = pd.read_csv("./kc_house_data.csv")

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
df.drop(['id','date','sqft_above'] , axis='columns' , inplace=True)

In [5]:
df['bathrooms'] = np.round(df['bathrooms'])
df['floors'] = np.round(df['floors'])
df['bedrooms'] = np.round(df['bedrooms'])

In [6]:
df.isnull().sum()

price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [7]:
df.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.0,1180,5650,1.0,0,0,3,7,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.0,2570,7242,2.0,0,0,3,7,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.0,770,10000,1.0,0,0,3,6,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.0,1960,5000,1.0,0,0,5,7,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.0,1680,8080,1.0,0,0,3,8,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures

In [9]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

In [10]:
ridge=Ridge()
parameters={'alpha':[1e-15,1e-10,1e-8,1e-3,1e-2,1,5,10,20,30,35,40,45,50,55,100]}

In [11]:
poly_reg = PolynomialFeatures(degree = 4)

In [12]:
reg = LinearRegression()

In [13]:
labels = df['price']

In [14]:
z = df.iloc[:,2:18]

In [15]:
y = df.loc[:,['price']]

df.drop(['price'] , axis='columns' , inplace=True)

In [16]:
import json

In [17]:
REQUEST = json.dumps({
'path' : {},
'args' : {}
})

# GET /home3/:bedrooms/:bathrooms/:floors
request = json.loads(REQUEST)
bedrooms_var = request['path'].get('bedrooms')
bathrooms_var = request['path'].get('bathrooms')
floors_var = request['path'].get('floors')
sqft_living_var = request['path'].get('sqft_living')

price = linreg.predict(np.array([[bedrooms_var,bathrooms_var,floors_var]]))[0][0]

print('{"price" : "%s"}'  % price)

## PREPARING

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x = df.loc[:,['bedrooms','bathrooms','floors','sqft_living','zipcode','sqft_basement']]

In [20]:
x.head()

   bedrooms  bathrooms  floors  sqft_living  zipcode  sqft_basement
0         3        1.0     1.0         1180    98178              0
1         3        2.0     2.0         2570    98125            400
2         2        1.0     1.0          770    98028              0
3         4        3.0     1.0         1960    98136            910
4         3        2.0     1.0         1680    98074              0

In [21]:
x_train2, x_test2, y_train2, y_test2 = train_test_split(
x, y, test_size=0.25)

In [22]:
x_train2.head()

       bedrooms  bathrooms  floors  sqft_living  zipcode  sqft_basement
12739         5        3.0     1.0         2970    98023           1160
16692         3        2.0     2.0         1670    98199            450
11223         3        2.0     1.0         1410    98058              0
5224          3        2.0     2.0         2870    98055              0
13667         3        2.0     2.0         3240    98059              0

In [23]:
y_train2.head()

          price
12739  320000.0
16692  540000.0
11223  229950.0
5224   485000.0
13667  575000.0

## LINEAR

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
linear = LinearRegression()

In [26]:
linear.fit(x_train2,y_train2)

LinearRegression()

In [27]:
y_pred2=linear.predict(x_test2)

In [28]:
y_pred2

array([[694732.84162354],
       [726458.27547253],
       [737167.18877357],
       ...,
       [805027.0100866 ],
       [440790.31271434],
       [802473.11420598]])

In [29]:
print('R Squared Score is: %.2f' % r2_score(y_test2, y_pred2))

R Squared Score is: 0.52

## LASSO

In [30]:
from sklearn.linear_model import Lasso

In [31]:
lasso=Lasso(alpha=0.001)

In [32]:
lasso.fit(x_train2,y_train2)

Lasso(alpha=0.001)

In [33]:
# print(lasso_regressor.best_params_)
# print(lasso_regressor.best_score_)

In [34]:
y_pred2=lasso.predict(x_test2)

In [35]:
y_pred2

array([694732.84397194, 726458.27746542, 737167.19317926, ...,
       805027.00977801, 440790.31460663, 802473.11337499])

In [36]:
print('R Squared Score is: %.2f' % r2_score(y_test2, y_pred2))

R Squared Score is: 0.52

## RIDGE

In [37]:
from sklearn.linear_model import Ridge

In [38]:
ridge=Ridge(alpha=0.01)

In [39]:
ridge.fit(x_train2,y_train2)

Ridge(alpha=0.01)

In [40]:
y_pred2=ridge.predict(x_test2)

In [41]:
y_pred2

array([[694732.89319801],
       [726458.33609428],
       [737167.3199228 ],
       ...,
       [805026.97930452],
       [440790.35832259],
       [802473.03434086]])

In [42]:
print('R Squared Score is: %.2f' % r2_score(y_test2, y_pred2))

R Squared Score is: 0.52

## ELASTIC NET

In [43]:
from sklearn.linear_model import ElasticNet

In [44]:
elastic = ElasticNet(alpha=0.01)

In [45]:
elastic.fit(x_train2,y_train2)

ElasticNet(alpha=0.01)

In [46]:
y_pred2=elastic.predict(x_test2)

In [47]:
y_pred2

array([695143.7198855 , 726941.65456043, 738214.90857648, ...,
       804783.09889583, 441156.55401471, 801831.73908391])

In [48]:
print('R Squared Score is: %.2f' % r2_score(y_test2, y_pred2))

R Squared Score is: 0.52

## API

In [49]:
# GET /calculatePrice/:bedrooms/:bathrooms/:floors/:sqft_living/:zipcode/:sqft_basement
request = json.loads(REQUEST) 
bedrooms_var = request['path'].get('bedrooms')
bathrooms_var = request['path'].get('bathrooms')
floors_var = request['path'].get('floors')
sqft_living_var = request['path'].get('sqft_living')
zipcode_var = request['path'].get('zipcode')
sqft_basement_var = request['path'].get('sqft_basement')

price = linear.predict(np.array([[bedrooms_var,bathrooms_var,floors_var,sqft_living_var,zipcode_var,sqft_basement_var]]))[0][0]

print('{"price" : "%d"}' % price)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [50]:
import json

In [51]:
# GET /zipcode



zipcode = ['98001', '98002', '98003', '98004', '98005', '98006', '98007', '98008', '98009', '98010', '98011', '98013', '98014',
          '98015', '98019', '98022', '98023', '98024', '98025', '98027', '98028', '98029', '98030', '98031', '98035', '98038', 
          '98039', '98040', '98041', '98042', '98045', '98047', '98050', '98051', '98052', '98053', '98054', '90055', '98056', 
          '98057', '98058', '98059', '98062', '98063', '98064', '98065', '98068', '98070', '98071', '98072', '98073', '98074',
          '98075', '98083', '98092', '98093', '98101', '98102', '98103', '98104', '98105', '90106', '98107', '98108', '98109',
          '98111', '98112', '98114', '98115', '98116', '98117', '98118', '98119', '90121', '98122', '98124', '98125', '98126',
          '98131', '98132', '98133', '98134', '98136', '98138', '98144', '90145', '98146', '98148', '98154', '98155', '98158', 
          '98160', '98161', '98161', '98164', '98166', '98168', '98171', '90174', '98177', '98178', '98188', '98198', '98199', 
          '98224', '98288']


print('{"zipcode" : %s}' % json.dumps(zipcode))

{"zipcode" : ["98001", "98002", "98003", "98004", "98005", "98006", "98007", "98008", "98009", "98010", "98011", "98013", "98014", "98015", "98019", "98022", "98023", "98024", "98025", "98027", "98028", "98029", "98030", "98031", "98035", "98038", "98039", "98040", "98041", "98042", "98045", "98047", "98050", "98051", "98052", "98053", "98054", "90055", "98056", "98057", "98058", "98059", "98062", "98063", "98064", "98065", "98068", "98070", "98071", "98072", "98073", "98074", "98075", "98083", "98092", "98093", "98101", "98102", "98103", "98104", "98105", "90106", "98107", "98108", "98109", "98111", "98112", "98114", "98115", "98116", "98117", "98118", "98119", "90121", "98122", "98124", "98125", "98126", "98131", "98132", "98133", "98134", "98136", "98138", "98144", "90145", "98146", "98148", "98154", "98155", "98158", "98160", "98161", "98161", "98164", "98166", "98168", "98171", "90174", "98177", "98178", "98188", "98198", "98199", "98224", "98288"]}